@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* f  flu*/
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../public/images/guest/home/back.jpg') center/cover no-repeat;
  filter: blur(5px);
  z-index: -1;
}

header {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 80px; /* Keep the height */
  background-color: rgb(255, 255, 255); /* Dark background for visibility */
  color: #dbd5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000; /* Ensures navbar stays on top */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
body {
  /* padding-top: 110px; Adjust based on navbar height */
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; /* Permet d'occuper l'espace à gauche */
}

.logo img {
  height: 80px; /* Ajuste selon la taille désirée */
  width: 100px;
  padding-top: 5px;
  padding-left: 5x; /* Ajoute un peu d'espace depuis le bord */
  border-radius: 10px;
}
.menu {
  margin-right: 20px; /* Augmente l'espace entre le menu et le bouton */
  display: flex;
  gap: 20px; /* Ajoute de l’espace entre les liens du menu */
}

.menu a {
  text-decoration: none;
  color: #024ee2;
  padding: 10px 20px;
  font-size: 20px;
}

.menu a:hover {
 border-radius: 10px;
 color: white;
  background:#005bac;
}
.register {
  margin-left: 30px; /* Espace entre le menu et le bouton */
  display: flex;
  gap: 23px;
  
}
.register a {
  text-decoration: none;
  color: blanchedalmond;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  background: #024ee2;
}

.register a:hover {
  border: 1px solid #005bac;
  background: #005bac; /* Bleu */
}
.h-text {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 650px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #024ee2;
}

/* --- ANIMATION D'AFFICHAGE --- */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/*about*/
#about {
  background: #f4f4f4;
  padding: 90px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* opacity: 0; */
}

#about .container {
  max-width: 900px;
  margin: auto;
  text-align: left;
}
/*debut slider*/
.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}



/*fin slader*/

#about h2 {
  color: #005bac;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

#about h3 {
  color: #7b47f4;
  margin-top: 20px;
  margin-bottom: 15px;
}

#about h4 {
  color: #f28c28;
  font-size: 20px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

#about .description {
  margin-bottom: 50px;
}

.spaces {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.space {
  flex: 1;
  min-width: 250px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.space:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #005bac;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #f28c28;
}
 /*deb contact*/
 #contact{
  padding-top: 40px;
  background: #f4f4f4;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.contact-form {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 520px;
  text-align: center;
  margin: 10px auto;
}
.contact-form h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  color: #0063b5;
}
.form-group {
  display: flex;
  gap: 120px;
  margin-bottom: 10px;
}
.form-group input {
  flex: 1;
  
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-form input[name="email"] {
  width: 100%; /* Prend toute la largeur */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom:30px;
}

.contact-form textarea {
  width: 100%;
  resize: none;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
  margin-bottom: 30px;
}
.contact-form button {
  width: 100%;
  background: #024ee2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 12px;
  transition: background 0.3s;
  border-radius: 5px;
}
.contact-form button:hover {
  background: #005bac;
}
.contact-form .lab {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 8px;
}

/*fin contat*/
footer {
  background: #121212;
  color: white;
  padding: 18px 0;
  
  font-family: 'Poppins', sans-serif;
  height: 230px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  
}

.footer-section {
  width: 250px;
}
.footer-section a{
  color: white;
  text-decoration: none;
}
.footer-section .logo img{
height:120px;
width: 160px;
border-radius: 18px;
}
.footer-section strong{
  font-size: 11px;
  line-height: 1px;
  opacity: 0.5;
  }
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 2px solid #f28c28;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #f28c28;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background: #000;
  
}

